/ext/**
/node_modules/**
/generated/**
/idd.heatmapworker.js
/.grunt/**
/.tscache/**
/typings/**
/samples/**
/sln/**
/src/**
.travis.yml
.npmignore
.gitignore
_SpecRunner.html
.bowerrc
jsconfig.json
Gruntfile.js
IDDSamples.html
tsd.json
RELEASE_NOTES.md
/.vscode/**
/.vs/**
/test/**
!/dist/**
.baseDir.*
debug.log
_SpecRunner.html